*{
    color: #EEEEEE;
    background-color: #222831;
}
h2{
    align-self: center;
    /* background-color: #222831; */
}

.wrapper {
    background-color: #EEEEEE;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  button {
   background: gray;
   color: white;
   border: 0;
  }

.img-product{
  max-width: 65%;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-title button {
  background-color: red;
  color: white;
}
