<h2>{{heading}}</h2>
<mat-dialog-content>
    <ng-form (ngSubmit)="submit()" class="wrapper">
        <div class="form-row">
            <label>Product Name</label>
            <input type="text" [(ngModel)]="productName" [disabled]="disable" [textContent]="productName"
                [ngModelOptions]="{standalone: true}">
        </div>
        <!-- <br> -->
        <div class="form-row">
            <label>Quantity</label>
            <input type="text" [(ngModel)]="productQuantity" [disabled]="disable" [textContent]="productQuantity"
                [ngModelOptions]="{standalone: true}">
        </div>
        <!-- <br> -->
        <div class="form-row">
            <label>Description</label>
            <textarea [(ngModel)]="productDescription" rows="4" cols="50" [disabled]="disable"
                [textContent]="productDescription" [ngModelOptions]="{standalone: true}">
        </textarea>
        </div>
        <!-- <br> -->
        <div class="form-row">
            <label>Product Image</label>
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()"></button>
        </div>



        <div *ngIf="!disable" class="form-row">
            <button (click)="submit()">Submit</button>
            <!-- <input type="file" multiple value="select" #selectFile (change)="onFileSelected($event)"> -->
        </div>
    </ng-form>
</mat-dialog-content>