<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee+Spice&effect=fire-animation">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&effect=fire-animation">
<h1 class="font-effect-fire-animation" (click)="home()">Inventory Management System</h1>



<table *ngIf="isHome()">
    <tr>
        <th>Factory ID</th>
        <th>Factory Name</th>
        <th>Factory Location</th>
        <th colspan="2"> Operations</th>
    </tr>
    <tr *ngFor="let item of factories">
        <td class="inside-table">{{item.factoryId}}</td>
        <td class="inside-table">{{item.factoryName}}</td>
        <td class="inside-table">{{item.factoryLocation}}</td>


        <td><button (click)="navigate(item.factoryId)">View More</button></td>
        <td><button (click)="delete(item)">
                <fa-icon [icon]="faTrash" style="color:#EEEEEE"></fa-icon>
                Delete
            </button></td>

        <app-product *ngIf="!isHome()"></app-product>
    </tr>
</table>




<app-roundbtn *ngIf="isHome()" (clicker)="add()"></app-roundbtn>
<router-outlet></router-outlet>