<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bungee+Spice&effect=fire-animation">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&effect=fire-animation">
<div class="nav">
    <h1 (click)="home()"><b>Inventory Management System</b></h1>
</div>
<div class="outer" *ngIf="!isHome()">
    <div class="inner">
        <label (click)="home()">Back</label>
    </div>
</div>

<table *ngIf="isHome()">
    <tr>
        <th>Factory ID</th>
        <th>Factory Name</th>
        <th>Factory Location</th>
        <th colspan="2"> Operations</th>
    </tr>
    <tr *ngFor="let item of factories">
        <td class="inside-table">{{item.factoryId}}</td>
        <td class="inside-table">{{item.factoryName}}</td>
        <td class="inside-table">{{item.factoryLocation}}</td>


        <td><button (click)="navigate(item.factoryId)">View More</button></td>
        <td><button (click)="delete(item)">
                <fa-icon [icon]="faTrash" style="color:black"></fa-icon>
                Delete
            </button></td>

        <app-product *ngIf="!isHome()"></app-product>
    </tr>
</table>




<app-roundbtn *ngIf="isHome()" (clicker)="add()"></app-roundbtn>
<router-outlet></router-outlet>