
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #ffbf00;
	color:black;
	border :0;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float div{
    width: 30px;
    height:30px;
	background-color: #ffbf00;
    color: black;
    font-size: xx-large;
    padding-left: 22%;
	padding-bottom: 10%;
	border-radius:50%;
}

/* .float div,.float:hover{
    transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
} */
